.card1 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #1889ea;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card1::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background:#18eaea;
	transform: skewY(307deg);
	transition: 0.5s;
}

.card1:hover::before {
	top: -70%;
	transform: skewY(61deg);
}

.card1::after {
	content: 'boAt';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card1 .imgBx1 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card1 .imgBx1 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card1 .contentBx1 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card1 .contentBx1 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card1 .contentBx1 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card1 .contentBx1 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #000;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card1:hover .contentBx1 .buy {
	top: 0;
	opacity: 1;
}

.card1 p {
	font-size: 14px;
	color: white;
}


/*Card 2*/

.card2 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #E1A2B8 ;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card2::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #9424F0;
	transform: skewY(48deg);
	transition: 0.5s;
}

.card2:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card2::after {
	content: 'JBL';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card2 .imgBx2 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card2 .imgBx2 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card2 .contentBx2 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card2 .contentBx2 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card2 .contentBx2 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card2 .contentBx2 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #000;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card2:hover .contentBx2 .buy {
	top: 0;
	opacity: 1;
}

.card2 p {
	font-size: 14px;
	color: white;
}


/*Card 3*/

.card3 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #c1378c;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card3::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #392ab6eb;
	transform: skewY(47deg);
	transition: 0.5s;
}

.card3:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card3::after {
	content: 'ROG';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card3 .imgBx3 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card3 .imgBx3 img {
	width: 20rem;
	height: 18rem;
	transition: 0.5s;
}

.card3 .contentBx3 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card3 .contentBx3 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card3 .contentBx3 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card3 .contentBx3 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #000;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card3:hover .contentBx3 .buy {
	top: 0;
	opacity: 1;
}

.card3 p {
	font-size: 14px;
	color: white;
}


/*Card 4*/

.card4 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #db6921;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card4::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #eac639;
	transform: skewY(340deg);
	transition: 0.5s;
}

.card4:hover::before {
	top: -70%;
	transform: skewY(44deg);
}

.card4::after {
	content: 'TUF';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.1);
}

.card4 .imgBx4 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card4 .imgBx4 img {
	width: 23rem;
	height: 20rem;
	transition: 0.5s;
}

.card4 .contentBx4 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card4 .contentBx4 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card4 .contentBx4 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card4 .contentBx4 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #000;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card4:hover .contentBx4 .buy {
	top: 0;
	opacity: 1;
}

.card4 p {
	font-size: 14px;
	color: white;
}


/*Card 5*/

.card5 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #7a8fde;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card5::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #564ec5bf;
	transform: skewY(38deg);
	transition: 0.5s;
}

.card5:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card5::after {
	content: 'boAt';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card5 .imgBx5 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card5 .imgBx5 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card5 .contentBx5 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card5 .contentBx5 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card5 .contentBx5 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card5 .contentBx5 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #000;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card5:hover .contentBx5 .buy {
	top: 0;
	opacity: 1;
}

.card5 p {
	font-size: 14px;
	color: white;
}


/*Card 6*/

.card6 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #4a16c77d;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card6::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #2175f387;
	transform: skewY(143deg);
	transition: 0.5s;
}

.card6:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card6::after {
	content: 'boAt';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card6 .imgBx6 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card6 .imgBx6 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card6 .contentBx6 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card6 .contentBx6 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card6 .contentBx6 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card6 .contentBx6 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #000;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card6:hover .contentBx6 .buy {
	top: 0;
	opacity: 1;
}

.card6 p {
	font-size: 14px;
	color: white;
}


/*Card 7*/

.card7 {
	position: relative;
	width: 320px;
	height: 420px;
	background: rgb(27 117 121);
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card7::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: rgb(14 228 159);
	transform: skewY(147deg);
	transition: 0.5s;
}

.card7:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card7::after {
	content: 'Legion';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card7 .imgBx7 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card7 .imgBx7 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card7 .contentBx7 {
	position: absolute;
	padding: 20px;
	margin-top: 35rem;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card7 .contentBx7 h4 {
	font-size: 18px;
	color: #fff;
	text-align: left;
	font-weight: bolder;
	/*margin-top: 150px;*/
	text-align: center;
	letter-spacing: 1px;
}

.card7 .contentBx7 .price {
	font-size: 24px;
	color: #fff;
	text-align: left;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card7 .contentBx7 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #000;
	text-align: center;
	text-decoration: none;
	background: rgb(14 228 159);
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card7:hover .contentBx7 .buy {
	top: 0;
	opacity: 1;
}

.card7 p {
	font-size: 14px;
	color: white;
}


/*Card 8*/

.card8 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #3a57a7;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card8::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #ff93d4;
	transform: skewY(31deg);
	transition: 0.5s;
}

.card8:hover::before {
	top: -70%;
	transform: skewY(345deg);
}

.card8::after {
	content: 'Mi';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card8 .imgBx8 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card8 .imgBx8 img {
	width: 20rem;
	height: 20rem;
	transition: 0.5s;
}

.card8 .contentBx8 {
	position: absolute;
	padding: 20px;
	text-align: center;
	margin-top: 35rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card8 .contentBx8 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	/*margin-top: 150px;*/
	text-align: center;
	letter-spacing: 1px;
}

.card8 .contentBx8 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card8 .contentBx8 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: rgb(255 147 212);
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card8:hover .contentBx8 .buy {
	top: 0;
	opacity: 1;
}

.card8 p {
	font-size: 14px;
	color: white;
}


/*Card 9*/

.card9 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #5f70b1;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card9::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #2196f3;
	transform: skewY(147deg);
	transition: 0.5s;
}

.card9:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card9::after {
	content: 'FitBit';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card9 .imgBx9 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card9 .imgBx9 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card9 .contentBx9 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card9 .contentBx9 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card9 .contentBx9 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card9 .contentBx9 .buy {
	position: relative;
	top: 200px;
	opacity: 0;
	padding: 10px;
	margin-top: 15px;
	color: #000;
	text-align: center;
	text-decoration: none;
	background: rgb(33 150 243);
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card9:hover .contentBx9 .buy {
	top: 0;
	opacity: 1;
}

.card9 p {
	font-size: 14px;
	color: white;
}


/*Card 10*/

.card10 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #000000d9;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card10::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #f7f702;
	transform: skewY(195deg);
	transition: 0.5s;
}

.card10:hover::before {
	top: -70%;
	transform: skewY(340deg);
}

.card10::after {
	content: 'Galaxy';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card10 .imgBx10 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card10 .imgBx10 img {
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.card10 .contentBx10 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card10 .contentBx10 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card10 .contentBx10 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card10 .contentBx10 .buy {
	position: relative;
	margin-left: 40px;
	top: 200px;
	opacity: 0;
	padding: 10px;
	width: 150px;
	align-items: center;
	margin-top: 15px;
	color: #000;
	text-align: center;
	text-decoration: none;
	background: rgba(247, 247, 2);
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card10:hover .contentBx10 .buy {
	top: 0;
	opacity: 1;
}

.card10 p {
	font-size: 14px;
	color: white;
}


/*Card 11*/

.card11 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #122936;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card11::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255, 0, 0, 0.71);
	transform: skewY(164deg);
	transition: 0.5s;
}

.card11:hover::before {
	top: -70%;
	transform: skewY(390deg);
}

.card11::after {
	content: '1+';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card11 .imgBx11 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card11 .imgBx11 img {
	width: 22rem;
	height: 22rem;
	transition: 0.5s;
}

.card11 .contentBx11 {
	position: absolute;
	/*left: 10px;*/
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card11 .contentBx11 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card11 .contentBx11 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card11 .contentBx11 .buy {
	position: relative;
	/*margin-left: 40px;*/
	top: 200px;
	opacity: 0;
	padding: 10px;
	width: 150px;
	align-items: center;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: rgba(186, 12, 16);
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card11:hover .contentBx11 .buy {
	top: 0;
	opacity: 1;
}

.card11 p {
	font-size: 14px;
	color: white;
}


/*Card 12*/

.card12 {
	position: relative;
	width: 320px;
	height: 420px;
	background: #57515d;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.card12::before {
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #bd7d7a;
	transform: skewY(135deg);
	transition: 0.5s;
}

.card12:hover::before {
	top: -70%;
	transform: skewY(345deg);
}

.card12::after {
	content: 'DELL';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.4);
}

.card12 .imgBx12 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.card12 .imgBx12 img {
	width: 25rem;
	height: 20rem;
	transition: 0.5s;
}

.card12 .contentBx12 {
	position: absolute;
	padding: 20px;
	margin-top: 25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
}

.card12 .contentBx12 h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bolder;
	margin-top: 150px;
	text-align: center;
	letter-spacing: 1px;
}

.card12 .contentBx12 .price {
	font-size: 24px;
	color: #fff;
	margin-top: 0px;
	font-weight: 500;
	letter-spacing: 1px;
}

.card12 .contentBx12 .buy {
	position: relative;
	margin-left: 40px;
	top: 200px;
	opacity: 0;
	padding: 10px;
	width: 150px;
	align-items: center;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #bd7d7a;
	border-radius: 30px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.card12:hover .contentBx12 .buy {
	top: 0;
	opacity: 1;
}

.card12 p {
	font-size: 14px;
	color: white;
}